.BackgroundPurple {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #c7c7c7 100%);
    z-index: -1;
}
main.Main {
    padding: 0px 20px;
}