.category-item {
    border: 0.5rem solid #f1f1f1;
    background-color: #fff;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}
.category-item.active {
    border-color: #e91e63;
}